#contact-content .row {
 padding-top: 25px;
  /* padding-bottom: 25px; */
}


#contact-content .container{
  margin-bottom: 100px;
  margin-top: 100px;
}

i {
  font-size: 1.8rem !important;
}


.invalid-feedback
{
  font-size: 1.3rem!important;
}


.contact-button
{
  width: 100%;
}

#contact-content textarea.form-control {
    height: 11rem;
  }

#contact-content .container
{
  padding-left: 150px;
  padding-right: 150px;
}

#contact-content img
{
  clip-path: polygon(0% 0%, 100% 0, 70% 100%, 75% 100%, 0% 100%);
}
