#content-gallery {
    margin-top: 100px;
    margin-bottom: 100px;
}

#content-gallery .card-img {
  width: 60%;
  margin: auto;
}

#content-gallery .card:hover {
  cursor: pointer;
}

#content-gallery .card img {
  height: 390px;
}

#content-gallery a {
  background-color: #1eaea7;
}

#content-gallery .modal-content img {
  /* max-height: 547px;
  max-width: 521px !important; */
  width: 540px!important;
  height: 580px!important;
}

#content-gallery .modal-content {
  /* min-height: 580px;
  min-width: 574px !important; */
  width: 560px!important;
  height: 615px!important;
}

#content-gallery .carousel-control-prev {
  margin-left: -155px;
  border-radius: 100%;
  height: 13%;
  margin-top: auto;
  margin-bottom: auto;
}

#content-gallery .carousel-control-next {
  margin-right: -155px;
  border-radius: 100%;
  height: 13%;
  margin-top: auto;
  margin-bottom: auto;
}

#content-gallery .row {
  margin-bottom: 30px;
}

.img-card-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.slick-slide img
{
  width: 100%!important;
}
