#header {
  font-family: 'Marcellus SC', serif;
  color: black;
  /* background: url("../background1.jpg");
  background-position: center; */
  background-color: #000;
  text-align: center;
  padding-bottom: 50px;
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
}

.first-row-title {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 5px;
  color: #eee;
}

.second-row-title {
  font-size: 2.8rem;
  color: #eee;
}

.navbar {
  background-color: #630303;
  margin-top: 0;
}

.nav-link {
  font-size: 1.8rem;
  margin-left: 30px;
  color: #e7b868;
}
